<section class="card grid grid-cols-1 md:grid-cols-2 gap-4 p-2">
    <p-table [value]="(todos | async) || []" class="mt-4">
        <ng-template pTemplate="header">
            <h2>Pending To-Dos:</h2>
            <tr class="plex-400">
                <th>Title</th>
                <th>Priority</th>
                <th>Description</th>
                <th>Remove</th>
                <th>Finish</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todo>
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.priority }}</td>
                <td>{{ todo.description }}</td>
                <td><i class="pi pi-times btn-click red" (click)="removeTodo(todo.id)"></i></td>
                <td><i class="pi pi-check btn-click green" (click)="finishTodo(todo.id)"></i></td>
            </tr>
        </ng-template>
    </p-table>
</section>